<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WildFire Detection</title>
    <link rel="stylesheet" href="/static/css/styles.css">

</head>
<body>
    <div class="bg"></div>  
    <div class="container">
        <h1>WildFire Detection System</h1>
        <div class="drop-zone">
            <p>Drag & Drop an image here or click to select</p>
            <input type="file" accept="image/*" style="display:none;">
        </div>
        <div id="image-display"></div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const dropZone = document.querySelector(".drop-zone");
            const fileInput = dropZone.querySelector("input");
            const imageDisplay = document.getElementById("image-display");
            const resultDisplay = document.createElement("div");
            resultDisplay.id = "result-display";
            document.body.appendChild(resultDisplay);
            const body = document.body;
    
            dropZone.addEventListener("click", () => fileInput.click());
    
            dropZone.addEventListener("dragover", (e) => {
                e.preventDefault();
                dropZone.classList.add("dragover");
            });
    
            dropZone.addEventListener("dragleave", () => {
                dropZone.classList.remove("dragover");
            });
    
            dropZone.addEventListener("drop", (e) => {
                e.preventDefault();
                dropZone.classList.remove("dragover");
    
                const files = e.dataTransfer.files;
                if (files.length > 0) {
                    fileInput.files = files;
                    handleFiles(files);
                }
            });
    
            fileInput.addEventListener("change", () => {
                const files = fileInput.files;
                if (files.length > 0) {
                    handleFiles(files);
                }
            });
    
            function handleFiles(files) {
                const file = files[0];
                const reader = new FileReader();
    
                reader.onload = (e) => {
                    resizeAndDisplayImage(e.target.result);
                };
    
                reader.readAsDataURL(file);

                const formData = new FormData();
                formData.append('file', file);
    
                fetch('/upload', {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    displayResult(data);
                })
                .catch(error => console.error('Error:', error));
            }
    
            function resizeAndDisplayImage(imageSrc) {
                const img = new Image();
                img.src = imageSrc;
    
                img.onload = () => {
                    const canvas = document.createElement("canvas");
                    const ctx = canvas.getContext("2d");
    
                    canvas.width = 500;
                    canvas.height = 350;
    
                    ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
    
                    const resizedImageSrc = canvas.toDataURL("image/jpeg");
                    displayImage(resizedImageSrc);
                };
            }
    
            function displayImage(imageSrc) {
                body.classList.add("hover-up");
                imageDisplay.innerHTML = `<img src="${imageSrc}" alt="Resized Image" class="displayed-image">`;
    
                setTimeout(() => {
                    body.classList.remove("hover-up");
                }, 500);
            }
    
            function displayResult(data) {

                resultDisplay.innerHTML = '';

                if (data.fire_percentage > 10) {
                    resultDisplay.innerHTML = `<p>CAUTION! HIGH FIRE DETECTED!</p><p>Fire Probability : ${data.fire_percentage.toFixed(2)}</p>%`;
                } else if (data.fire_percentage >= 5){
                    resultDisplay.innerHTML = `<p>WARNING! LOW FIRE DETECTED!</p><p>Fire Probability : ${data.fire_percentage.toFixed(2)}</p>%`;
                } else {
                    resultDisplay.innerHTML = `<p>NO FIRE DETECTED. YOU ARE SAFE!</p><p>Fire Probability : 0%</p>`;
                }
            }
        });
    </script>
    
    

</body>
</html>
